# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

# XCode stuff
*.hmap
*.xcuserstate

build/
xcuserdata/

# Visual Studio stuff
bin/
obj/
landruc.vcxproj
landruc.vcxproj.*
Landru.sln
Landru.vcxproj
Landru.vcxproj.*
Landru.VC.db
Landru.VC.VC.opendb

