# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

.antlr/
.vscode/

# XCode stuff
*.hmap
*.xcuserstate

build/
xcuserdata/
thirdparty/build
thirdparty/include
thirdparty/lib
thirdparty/src
thirdparty/bin

# Visual Studio stuff
bin/
obj/
landruc.vcxproj
landruc.vcxproj.*
Landru.sln
Landru.vcxproj
Landru.vcxproj.*
Landru.VC.db
Landru.VC.VC.opendb
landru_gl.vcxproj
landru_gl.vcxproj.*
landru_audio.vcxproj
landru_audio.vcxproj.*
landru_vr.vcxproj
landru_vr.vcxproj.*
