<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Landru.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>7</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>0EC4201F7FBA20B9695E46A2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1150506745E07CA60E8C1CAC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>156C716E2D386D171D264EC5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>17E02C0E6274555F00D56138</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1A5550FA78F7284B7B7F50F6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1F154B0C3BA0257825B803C6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2FAC7FDF4237618A59A70CD3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>31AD78CA3F6906AA327335E3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3304099B43A3086A1E4B5241</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>343D2A776B147D5A351B168A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3C6C5C1236992CD623806424</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>46AE51CA353B525035861D84</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5064131228FB12304C5C4D95</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5965310A0A8C0346049B6F38</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6C053C52532068E868CB22BD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>75235BF2158D70881FF4715D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7BA310B0521D18712C274C45</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
